@font-face {
  font-family: toySans;
  src: url(Toysans-Xe5d.ttf);
}

.App {
  text-align: center;
  background-color: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes bgcolor {
    0% {
        color: #45a3e5;
    }

    25% {
        color: #66bf39;
    }

    50% {
        color: #eb670f;
    }

    75% {
        color: #f35;
    }

    100% {
      color: #f000ff;
  }
}

@keyframes textsize {
  0% {
      font-size: larger;
  }
}

.High {
    font-family: toySans;
    -webkit-animation: textsize 1s infinite, bgcolor 1s infinite;
    animation: textsize 1s infinite, bgcolor 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    text-shadow: 0 0 15px #45a3e5;
    height: 100px
}

.HighHeader {
  font-family: toySans;
  -webkit-animation: bgcolor 2s infinite;
  animation: bgcolor 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  text-shadow: 0 0 15px #45a3e5;
  height: 50px
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-style: oblique;
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  font-family: toySans
}

shadow {
  box-shadow: 5px 10px;
}.card {
  max-width: 400px;
  margin: 0 auto;
}
